mat-grid-list {
  height: 500px;
  width: calc(100% - 16px);

  margin: 8px;
  margin-bottom: 16px;
  margin-top: 0px;
}

mat-card {
  min-height: 100%;
  min-width: 100%;
}

.spacer {
  margin-bottom: 2vh;
  height: 2vh;
}