.main-content{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.mat-grid-list{
    width: 100%;

    max-height: 100%;
    min-height: fit-content;
}

.content-card{
    width: 95%;

    min-height: 95%;
    max-height: fit-content;

    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.content{
    text-indent: 50px;
    font-size: 2vw;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .content{
        text-indent: 3vw;
        font-size: 3.5vw;
    }
}
