.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.background {
  /* Blur the image */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;

  /* Position the background correctly */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
}

.content-container {
  max-height: fit-content;
  min-height: calc(100% - 64px);
  display: flex;
  position: relative;
}

.main-content {
  height: 100%;
  width: 100%;
}
