.filler {
   flex: 1 1 auto;
}

.gap {
   margin-right: 1%;
}

.logo {
   max-width: 64px;
   min-width: 32px;
   margin: right 0;
}


@media screen and (max-width: 480px) {
   .gap {
      margin-right: 10px;
   }

   .logo {
      width: 48px;
   }
}

@media screen and (max-width: 320px) {
   .gap {
      margin-right: 1vw;
      font-size: small;
      width: fit-content;
      height: fit-content;
   }
}