@import '@angular/material/theming';

@include mat-core();

$background: mat-palette($mat-red);

.mat-app-background {
    box-sizing: border-box;
    background-color: mat-color($background);
    min-height: 75%;
}

.center-content {
    display: flex;

    flex-flow: column nowrap;

    align-items: stretch;
    align-content: center;
    justify-content: space-evenly;
}

.center-content > * {
    text-align: center;
    min-height: 100%;

}

h1 {
    font-size: 7.0dvh;
    line-height: normal;
    color: rgba(0, 0, 0, 1);
}

h2 {
    font-size: 5.0dvh;
    line-height: normal;
    color: rgba(0, 0, 0, .75);
}

h3 {
    font-size: 4.5dvh;
    line-height: normal;
    color: rgba(0, 0, 0, .65);
}

h3 a {
    font-size: 4.5dvh;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}