<!-- Background image -->

<!-- Content -->
<div class="main-div">
<div class="background-image" id="particles-js"></div>
<mat-card class="main-card">
    <!-- home page content -->
    <div class="home-content">
        <h1 class="home-title">Welcome to the Home Page</h1>
        <p class="home-text">Hello and welcome to my portfolio website. I am a software engineer with a passion for development.</p>
        <p class="home-text">To learn more about me, please visit the <a routerLink="/about">About page</a>.</p>

    </div>
</mat-card>
</div>