.main-div{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image{
    /* background-image: url(/assets/portfolio-background.jpg); */

    /* Blur the image */
    filter: blur(2px);
    -webkit-filter: blur(2px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Position and center the image to scale nicely on all screens */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}



.main-card{
    max-width: 25%;
    min-width: 5%;

    max-height: 100%;
    min-height: fit-content;
    
    

    z-index: 2;
    text-align: center;
}

@media screen and (max-width: 860px) {
    .main-card {
        max-width: 50%;
        min-width: 5%;
    }
 }

 @media screen and (max-width: 480px) {
    .main-card {
        max-width: 75%;
        min-width: 5%;
    }
 }

.home-title{
    font-size: 3em;
    font-weight: bold;
}

.home-text{
    font-size: 1.5em;
}